@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
}
#login{
  width:304px;
  height:390px;
  padding: 28px 38px;
  border:1px solid #000;
  margin:100px auto;
}
#login fieldset
{
    border:none;
}
#login button[type="button"]
{
  width:228px;
  height:44px;
  border:1px solid #000;
  background-color: white;
  font-weight: bold;
  text-align: center;
}
.input
{
    width:228px;
    height:44px;
    border:1px solid #000;
    background-color: #eaeaea;
    padding:0 10px;
    margin-bottom:21px;
}
#login button[type="submit"]
{
  width:228px;
  height:44px;
  border:1px solid #000;
  background-color: #373F3C;
  color: white;
  font-size:14px;
  font-weight:normal;
  margin-bottom: 28px;
}
#login > fieldset + p
{
 margin:24px 0px;
 font-size: 16px;
 font-weight: bold;
 text-align:center;
 color:#504444;
}
a{
    text-decoration:none;
    font-size: 14px;
    color:#2C3432;
    text-align:center;
    display:block;
}